* {
 margin: 0;
 padding: 0;   
}

body{
  background: linear-gradient(50deg, #5885AC, #3D5C78);
  background-color: #759abc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;

}

.section-title{
  margin-right: 3vw;
  width: 30vw;
}

.logo{
  width: 24vw;
  /* margin-left: 90px; */
}

p{
  font-size: 25px;
  color: white;
  text-align: justify;
  font-family: "Open sans";
  white-space: pre-line;
  margin-bottom: 2vw;
}

button{
  width: 14vw;
  height: 50px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  color: white;
  background:rgba(51, 78, 103, 0.8);
  font-family: "Open sans";
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-weight: bold;
}

.girl{
  width: 40vw;
  margin-left: 4vw;
  margin-top: 20px;

}
    
::-webkit-scrollbar {
  width: 1px;
}

@media screen and (max-width: 766px) {
  .girl{
    width: 70vw;
    margin: 0;
  }

  main{
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .section-title{
    margin-top: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo{
    width: 60vw;
  }

  p{
    font-size: 23px;
    color: white;
    font-family: "Open sans";
    width: 80vw;
  }

  button{
    width: 45vw;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .girl{
    width: 50vw;
    margin: 0;
  }

  main{
    flex-direction: column-reverse;
  }
  
  .section-title{
    margin-top: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo{
    width: 45vw;
  }

  p{
    width: 60vw;
    margin-bottom: 6vw;
  }

  button{
    width: 40vw;
    height: 75px;
  }
}

